body{
    background-color: black;

}


#mainTitle{
    text-align: center;
  color: red;
  
    
}
#miniTitle{
  text-align: center;
  color: red;
}

#miniTaskBar{
    text-align: center;
    color: red;
}
#scroll-container{
  /* background-color: red; */
  overflow: auto;
  white-space: nowrap;
  padding: 10px;

}
#scroll-container img{
  padding: 10px;
  width: 400px;
  height: 600px;


}
.pg{
  color: white;
  
}
h2{
  color: white;
  font-size: medium;
}
.card1Info{
  text-align: center;
  box-sizing: border-box;
  background-color: red;
  /* border: solid 400px #afafaf; */
  border-top:solid 100px black ;
  padding-bottom: 50px;
  border-left: solid 600px black;

  border-right: solid 600px black;
  
}
.imagecontainer{
  height: 600px;
  padding-top: 20px;
}
.mainTaskBar{
  background-color: red;
}
.navList{
  background-color: red;
  padding-bottom: 30px;
  padding-top: 20px;

  
}
li{
  display: inline;
  padding: 20px;
  padding-left: 200px;
  

}
.newBottomNavBar{
  background-color: white;
}
.theBottom{
  text-align: center;
  font-size: large;
}
label{
  color: white;
  display: block;
}
#subscribe-form{
  padding-left: 100px;
  line-height: 50px;
  padding-top: 80px;
  font-size: larger;
}
.seatsContainerCollapsed {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.seat-row {
  display: flex;
  justify-content: center;
}

.seat {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: gray;
  cursor: pointer;
}

.seat.selected {
  background-color: red;
}

#screen {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.seatsContainerCollapsed.collapsed {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease;
  max-height: 0;
}
collapsible.active {
  
  background-color: #f2f2f2;
}
.collapsible {
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  transition: background-color 0.3s ease;
}
.seatsContainerExpanded {
  display: block; /* Show the container */
  height: 500px; /* Set the desired height for the expanded container */
  /* Add any other CSS rules to style the expanded container */
}
.closeButton{
  color: black;
}
.paymentNotify{
  color: white;
}
.paymentMethodheading{
  color: white;
}